
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row TopHeight">
    <div class="col-sm-4" align="center">
        <div class="InnerBox">
            <div class="CircleBox">
                <i class="glyphicon glyphicon-euro Glypo"></i>
            </div>
            <div>
                <h4>Asp .Net MVC</h4>
            </div>
            <div>
                <p>The ASP.NET MVC is a web application framework developed by Microsoft, which implements the model–view–controller pattern. It is open-source software, apart from the ASP.NET Web Forms component which is proprietary.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4" align="center">
        <div class="InnerBox">
            <div class="CircleBox">
                <i class="glyphicon glyphicon-cloud Glypo"></i>
            </div>
            <div>
                <h4>Asp Web Api</h4>
            </div>
            <div>
                <p>ASP Web API is a framework that makes it easy to build HTTP services that reach a broad range of clients, including browsers and mobile devices. ASP.NET Web API is an ideal platform for building RESTful applications on the .NET Framework.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4" align="center">
        <div class="InnerBox">
            <div class="CircleBox">
                <i class="glyphicon glyphicon-glass Glypo"></i>
            </div>
            <div>
                <h4>WPF</h4>
            </div>
            <div>
                <p>Windows Presentation Foundation is a graphical subsystem by Microsoft for rendering user interfaces in Windows-based applications. WPF, previously known as "Avalon", was initially released as part of .NET Framework 3.0 in 2006.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4" align="center">
        <div class="InnerBox">
            <div class="CircleBox">
                <i class="glyphicon glyphicon-th-large Glypo"></i>
            </div>
            <div>
                <h4>Windows Forms</h4>
            </div>
            <div>
                <p>Windows Forms is a graphical class library included as a part of Microsoft .NET Framework or Mono Framework, providing a platform to write rich client applications for desktop, laptop, and tablet PCs.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4" align="center">
        <div class="InnerBox">
            <div class="CircleBox">
                <i class="glyphicon glyphicon-signal Glypo"></i>
            </div>
            <div>
                <h4>C#</h4>
            </div>
            <div>
                <p>C# is a general-purpose, multi-paradigm programming language encompassing strong typing, imperative, declarative, functional, generic, object-oriented, and component-oriented programming disciplines.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4" align="center">
        <div class="InnerBox">
            <div class="CircleBox">
                <i class="glyphicon glyphicon-home Glypo"></i>
            </div>
            <div>
                <h4>Visual Basic</h4>
            </div>
            <div>
                <p>Visual Basic is a third-generation event-driven programming language from Microsoft for its Component Object Model programming model first released in 1991 and declared legacy during 2008.</p>
            </div>
        </div>
    </div>
</div>

