
@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="TopHeight">
    <img class="img-responsive" src="~/Content/Images/Image.png" />
</div>

@section Scripts{

}